.titulo{
  text-align: center; 
}

.container{  
  padding: 22px;  
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.item{
  background: lightblue;
  border: 1px solid #d7d7;
  padding: 22px;
  margin: 8px;  
    
}