*{
  margin: 0px;
  padding: 0px;
}

.container{
  background: rgb(68, 71, 62);
  padding: 5px;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;
}
.bloco-1{
  background: violet;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.bloco-2{
  background: gold;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.bloco-3{
  background: lightblue;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}