h1{
  text-align: center;
}

body{
  font-size: 1.5rem;    
}
.container{
 max-width: 400px;
 margin: 0 auto;
 border: 2px solid #ccc;
}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.item{
  background: #f2f2;
  margin: 4px;
  padding: 4px;
  text-align: center;
  flex: 1;

}