body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
    
}
h1 {
  text-align: center;
}
.comprar {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  text-decoration: none;
  border-radius: 5px;  
}
.item {
  background: #f7f7f7;
  border: 2px solid #d7d7;  
  border-radius: 5px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.grid {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap;  
  justify-content: space-around;  
  
}
